<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <!-- header/nav section -->
    <header>
        <nav class="navbar">
          <ul>
            <li>
              <a href="/home">
                <p>
                  <span class="secpp">FairWide</span>
                  <span class="pp">Hotel</span>
                </p>
              </a>
            </li>
            <li class="Text"><a href="/about">About Us</a></li>
            <li class="Text"><a href="/rooms">Accommodation</a></li>
          </ul>
        </nav>
      </header>

      <!-- Hero -->
      <div class="About-Section">
        <h1>Abous Us</h1>
        <div class="About-container">
            <div class="About-image">
              <img src="viewHotel.jpg" alt="Dining Area" />
            </div>
            <div class="About-content">
              <h2>FairWide Hotel</h2>
              <p>
                Situated in the heart of Bandung, close to the city’s famous landmark, Gedung Sate, FairWide Hotel offers easy access to the business district, government offices and recreational areas. You can reach your destination in just 40 minutes drive from the airport or 20 minutes from the train station. And once you get there, FairWide Hotel, which has been around for over twenty years, will welcome you with warm hospitality and the assurance that your stay in Bandung will be comfortable and memorable.
              </p>
            </div>
          </div>
      <!-- footer sectiom -->
      <footer class="footer">
        <div class="footer-section logo">
          <h1><span class="secpp">FairWide</span>
            <span class="pp">Hotel</span></h1> <!-- Replace with your image path -->
        </div>
      
        <div class="footer-section">
          <h3>CONTACT INFO</h3>
          <strong>ADDRESS</strong><br>
          FairWide Hotel<br>
          HOS Tjokroaminoto No. 41-43 Bandung, 40172 Indonesia<br><br>
          Telephone: +62 820410960 – 45<br>
          Email: contactus@FairWide.com
        </div>
      
        <div class="footer-section">
          <strong>ROOM RESERVATIONS</strong><br>
          Mobile: +62 0992361789<br>
          Email: reservations@FairWide.com<br><br>
      
          <strong>BANQUETS RESERVATIONS</strong><br>
          Mobile: +62 8756782234<br>
          Email: banquets@FairWide.com<br><br>
      
          <strong>SALES & MARKETING</strong><br>
          Mobile: +62 2901883912<br>
          Email: marketing@FairWide.com<br><br>
      
          <strong>RESTAURANTS</strong><br>
          Mobile: +62 8731090829<br>
          Email: restaurants@FairWide.com
        </div>
      
        <div class="footer-section">
          <strong>COMPANY : BIHAR HOTELS LIMITED</strong><br><br>
          FOR IPF GRIEVANCES CONTACT<br><br>
          <strong>Ananda Rizky Pratama Putra</strong><br>
          Mobile: +62 8220410960<br>
          Email: nandarizky52378@gmail.com
        </div>
      
        <div class="footer-section">
          <h3>SITE LINKS</h3>
          <a href="#">Privacy Policy</a><br>
          <a href="#">CSR Policy</a><br>
          <a href="#">FAQs</a><br>
          <a href="#">Feedback Form</a><br>
          <a href="#">Nidhi</a><br>
          <a href="#">Saathi</a><br>
          <a href="#">Sitemap</a>
        </div>
      
        <div class="footer-section">
          <h3>STAY UP TO DATE</h3>
          <div class="social-icons">
            <a href="https://www.instagram.com/khorzyy/"><img src="Instagram.jpg" alt="Instagram"></a>
            <a href="https://www.youtube.com/@Khorzyy"><img src="Youtube.png" alt="YouTube"></a>
          </div>
        </div>
      </footer>
</body>
</html>