<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fairwide-Hotel</title>
    <!-- add icon link -->
    <link rel="icon" href="assets/ARPP(1).png" type="image/x-icon" />
    <link rel="stylesheet" href="home.css">
  </head>

  <body>


    <!-- Navbar -->
    <header>
      <nav class="navbar">
        <ul>
          <li>
            <a href="#">
              <p>
                <span class="secpp">FairWide</span>
                <span class="pp">Hotel</span>
              </p>
            </a>
          </li>
          <li class="Text"><a href="/about">About Us</a></li>
          <li class="Text"><a href="/rooms">Accomodation</a></li>
        </ul>
      </nav>
    </header>


    <!-- heroSection -->
    <div class="hero-container">  <!--this is a parent div-->
      <div class="hero-content">  <!--this is a child div-->
        <div class="reservation-form">
          <h2>Book Your Stay On Our Hotel</h2>
        </div>
      </div>
    </div>

    <!-- Desc -->
     <div class="description"> <!--this is a parent div-->
        <div class="paragraph-container"> <!--this is a child div-->
          <p class="paragraph1">HOTEL AT GLANCE.</p>
          <div class="lines">
            <img src="toppng.com-vector-free-stock-decorative-line-divider-clipart-1281x62.png" alt="Fancy vector divider">
          </div>
          <p class="paragraph2">FairWide Hotel is undoubtely one of the most celebrated landmarks in Bandung.
            <br> From the time it first opened its doors in 1999 to welcome International tourist, it has remained an iconic hospitaly venue.
            <br> FairWide is Bandung's first luxury's hotel in the state.</p>
        </div>
     </div>

     <!-- rooms & suites -->
     <div class="title">
      <p class="paragraph2">ACCOMMODATION</p>
      <p class="paragraph1">Our Rooms & Suites</p>
        <div class="lines">
          <img src="toppng.com-vector-free-stock-decorative-line-divider-clipart-1281x62.png" alt="Fancy vector divider">
        </div>
     </div>

      <div class="Rooms-Suites"> <!--this is a parent div-->
        <div class="desc-room">
          <p>The rooms at FairWide have been designed for comfort and function. They embody elegance and offer the perfect ambience for your stay.</p>
        </div>
        <div class="grid-container">
          <div class="items">
            <img src="Mithila-Suite-1.jpg" alt="">
            <div class="items-caption">
              <h3>Mithila-Suite</h3>
              <a href=""><p>>> Room Detail</p></a>
            </div>
          </div>
  
          <div class="items">
            <img src="ResidentalRooms.jpg" alt="">
            <div class="items-caption">
              <h3>Residency Suite</h3>
              <a href=""><p>>> Room Detail</p></a>
            </div>
          </div>
  
          <div class="items">
            <img src="oriental-suite-maurya-patna-1.jpg" alt="">
            <div class="items-caption">
              <h3>Oriental Suite</h3>
              <a href=""><p>>> Room Detail</p></a>
            </div>
          </div>
  
          <div class="items">
            <img src="Svasara-Suite.jpg" alt="">
            <div class="items-caption">
              <h3>Svasara Suites</h3>
              <a href=""><p>>> Room Detai</p></a>
            </div>
          </div>
        </div>
        </div>
        <div class="amenities-section">
          <h2>ALL OF OUR ROOMS OFFER THE FOLLOWING AMENITIES</h2>
          <div class="amenities-container">
            <ul>
              <li>Tea/Coffee maker</li>
              <li>Electronic safe</li>
              <li>Complimentary wifi</li>
              <li>Complimentary breakfast buffet in coffee shop</li>
              <li>Access to swimming pool & fitness centre</li>
            </ul>
            <ul>
              <li>Daily housekeeping & turndown service</li>
              <li>24-hr in-room dining</li>
              <li>24-hr laundry service</li>
              <li>24-hr on-call-doctor facility</li>
              <li>Extra beds available on request on an additional per night charge</li>
            </ul>
          </div>
      </div>
      

      <!-- Dining Choice -->
      <div class="dining-section">
        <div class="dining-image">
          <img src="Dining.jpg" alt="Dining Area" />
        </div>
        <div class="dining-content">
          <h2>DINING CHOICES</h2>
          <p>
            FairWide Hotel offers a multitude of dining options to residents and tourists of Bandung. From an all-day multi-cuisine coffee shop “Grind Joe” to specialty restaurant “Spice Court” to casual dining restaurant “Bollywood Treats”, each restaurant features a unique menu and dishes that become guest favorites.
          </p>
          <p>
            Guests staying at the hotel have the additional luxury to enjoy a 24-hour room service. For
            guests’ convenience, especially for the corporate travelers, the in-room dining menu also
            offers the choice of half-portions. Guests can hence, enjoy the perfect value gourmet meal
            in the comfort of their room.
          </p>
        </div>
      </div>
      
      <!-- Banquets -->
      <div class="split-section">
        <div class="text-content">
          <h2>FairWide Banquets</h2>
          <p>
            With a number of venues, state-of-the-art audio-visual facilities, high levels of food & beverage quality and service, FairWide Banquets are the perfect venues to celebrate your special occasions and corporate events.
          </p>
        </div>
        <div class="image-content">
          <img src="banquets.jpg" alt="FairWide Banquets" />
        </div>
      </div>      
      
      <!-- facilities -->
      <div class="facility-section">
        <div class="facility-column">
          <h2>Activities & Facilities</h2>
          <p>
            Whether you are staying at FairWide as a business traveler or a leisure guest, for your convenience and entertainment are available a number of activities and facilities.
          </p>
          <ul class="facility-list">
            <li>Swimming Pool</li>
            <li>Gym & Massage Services</li>
            <li>Business Centre</li>
            <li>Travel Concierge</li>
          </ul>
        </div>
      
        <div class="facility-column">
          <h2>Shopping</h2>
          <p>
            Select stores adorn the shopping strip at FairWide where you can buy Indonesian apparel, fashion accessories and cosmetics. There is also banking facility available in the shopping arcade.
          </p>
          <ul class="facility-list">
            <li>The Body Shop</li>
            <li>Mandiri Bank</li>
            <li>BCA Bank</li>
            <li>Salon</li>
          </ul>
        </div>
      </div>
      
      <!--Footer Section  -->
      <footer class="footer">
        <div class="footer-section logo">
          <h1><span class="secpp">FairWide</span>
            <span class="pp">Hotel</span></h1> <!-- Replace with your image path -->
        </div>
      
        <div class="footer-section">
          <h3>CONTACT INFO</h3>
          <strong>ADDRESS</strong><br>
          FairWide Hotel<br>
          HOS Tjokroaminoto No. 41-43 Bandung, 40172 Indonesia<br><br>
          Telephone: +62 820410960 – 45<br>
          Email: contactus@FairWide.com
        </div>
      
        <div class="footer-section">
          <strong>ROOM RESERVATIONS</strong><br>
          Mobile: +62 0992361789<br>
          Email: reservations@FairWide.com<br><br>
      
          <strong>BANQUETS RESERVATIONS</strong><br>
          Mobile: +62 8756782234<br>
          Email: banquets@FairWide.com<br><br>
      
          <strong>SALES & MARKETING</strong><br>
          Mobile: +62 2901883912<br>
          Email: marketing@FairWide.com<br><br>
      
          <strong>RESTAURANTS</strong><br>
          Mobile: +62 8731090829<br>
          Email: restaurants@FairWide.com
        </div>
      
        <div class="footer-section">
          <strong>COMPANY : BIHAR HOTELS LIMITED</strong><br><br>
          FOR IPF GRIEVANCES CONTACT<br><br>
          <strong>Ananda Rizky Pratama Putra</strong><br>
          Mobile: +62 8220410960<br>
          Email: nandarizky52378@gmail.com
        </div>
      
        <div class="footer-section">
          <h3>SITE LINKS</h3>
          <a href="#">Privacy Policy</a><br>
          <a href="#">CSR Policy</a><br>
          <a href="#">FAQs</a><br>
          <a href="#">Feedback Form</a><br>
          <a href="#">Bandung</a><br>
        </div>
      
        <div class="footer-section">
          <h3>STAY UP TO DATE</h3>
          <div class="social-icons">
            <a href="https://www.instagram.com/khorzyy/"><img src="Instagram.jpg" alt="Instagram"></a>
            <a href="https://www.youtube.com/@Khorzyy"><img src="Youtube.png" alt="YouTube"></a>
          </div>
        </div>
      </footer>
  </body>
</html>
